blinker
click
dnspython
email-validator
flask
idna
itsdangerous
jinja2
joblib
MarkupSafe
numpy
pandas
psycopg2-binary
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
tzdata
werkzeug
xgboost
zipp
