{% extends "layout.html" %}
{% block content%}

<!-- partial:index.partial.html -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-10 col-lg-11 col-xl-11 text-center p-0 mt-1 mb-2">
            <div class="card px-10 pt-4 pb-10 ml-4 mr-4 mt-1 mb-3">
                <h2 id="heading">Fill in Patient Details</h2>
                <p>Fill all form field to go to next step</p>
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Demographics</strong></li>
                        <li id="personal"><strong>Medical History</strong></li>
                        <li id="personal"><strong>Blood & Urine Tests</strong></li>
                        <li id="confirm"><strong>Pregnancy Data</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Patient Data:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 4</h2>
                                </div>
                            </div> 
                                <label class="fieldlabels">WEIGHT: *</label> 
                                <input type="text" name="weight" placeholder="Body Weight" /> 
                                <label class="fieldlabels">HEIGHT: *</label> 
                                <input type="number" name="height" placeholder="Height" /> 
                                <label class="fieldlabels">BMI: *</label> 
                                <input type="number" name="bmi" placeholder="Mother's BMI" /> 
                                <label class="fieldlabels">NUMBER OF PREGNANCIES: *</label> 
                                <input type="number" name="pregnancies" placeholder="Number of Pregnancies" />
                                <label class="fieldlabels">NUMBER OF DELIVERIES: *</label> 
                                <input type="number" name="deliveries" placeholder="Number of Deliveries" />
                            </div> 
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Personal Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 4</h2>
                                </div>
                            </div> 
                                <label class="fieldlabels">Child Heartbeat: *</label>
                                <input type="text" name="Heartbeat" placeholder="Child Heartbeat" /> 
                                <label class="fieldlabels">Systolic BP: *</label> 
                                <input type="text" name="sysbp" placeholder="Systolic Blood Pressure" /> 
                                <label class="fieldlabels">Dystolic BP: *</label> 
                                <input type="text" name="dysbp" placeholder="Dystolic Blood Pressure" /> 
                                <label class="fieldlabels">Urine: *</label> 
                                <input type="text" name="urine" placeholder="Urine" />
                            </div> 
                        <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Patient Data:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 4</h2>
                                </div>
                            </div> 
                                <label class="fieldlabels">Urine Albumin: *</label>
                                <input type="text" name="albumin" placeholder="Urine Albumin" /> 
                                <label class="fieldlabels">Urine Sugar: *</label> 
                                <input type="text" name="usugar" placeholder="Urine Sugar" /> 
                                <label class="fieldlabels">Sugar Before *</label> 
                                <input type="text" name="sugarB" placeholder="Sugar After" /> 
                                <label class="fieldlabels">Sugar After: *</label> 
                                <input type="text" name="SugarA" placeholder="Sugar After" />
                        </div> 
                            <input type="button" name="next" class="next action-button" value="Submit" /> 
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Finish:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4 - 4</h2>
                                </div>
                            </div> <br><br>
                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="{{url_for('static', filename='images/img.png')}}" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">You Have Successfully Predicted Preeclampsia</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}