{% extends "layout.html" %}
{% block content%}

<!-- partial:index.partial.html -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-10 col-lg-12 col-xl-12 text-center p-0 mt-1 mb-2">
            <div class="card px-10 pt-4 pb-10 ml-2 mr-2 mt-1 mb-3">
                <h2 id="heading">Fill in Patient Details</h2>
                <p>Fill all form field to go to next step</p>
                <form id="msform" id="form" method="post" action="/predict">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Demographics</strong></li>
                        <li id="personal"><strong>Medical History</strong></li>
                        <li id="personal"><strong>Blood & Urine Tests</strong></li>
            
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Patient Data:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 3</h2>
                                </div>
                            </div> 
                                <label class="fieldlabels">AGE: *</label> 
                                <input type="number" step="0.01" name="age" placeholder="Age" /> 
                                <label class="fieldlabels">GESTATIONAL AGE: *</label> 
                                <input type="number" name="gestational" step="0.01" placeholder="Gestational Age" /> 
                                <label class="fieldlabels">HEIGHT: *</label> 
                                <input type="number" name="height" step="0.01" placeholder="Height" /> 
                                <label class="fieldlabels">Weight: *</label> 
                                <input type="number" name="pregnancies" step="0.01" placeholder="Weight" />
                                <label class="fieldlabels">BMI: *</label> 
                                <input type="number" name="bmi" step="0.01" placeholder="Mother's BMI" /> 
                                <label class="fieldlabels">SYSTOLIC BLOOD PRESSURE: *</label> 
                                <input type="number" name="sysBP" step="0.01" placeholder="Systolic BP" />
                                <label class="fieldlabels">DYSTOLIC BLOOD PRESSURE: *</label> 
                                <input type="number" name="dysBP" step="0.01" placeholder="Dystolic Blood Pressure" />
                                <label class="fieldlabels">HEMOGLOBIN (g/dL) *</label>
                                <input type="number" name="hb"  step="0.01" placeholder="Haemoglobin" /> 
                            </div> 
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Personal Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 3</h2>
                                </div>
                            </div>   
                                <label class="fieldlabels">PACKED CELL VOLUME (%): *</label> 
                                <input type="number" name="pcv" step="0.01" placeholder="Packed Cell Volume" /> 
                                <label class="fieldlabels">THYROID-STIMULATING HORMONE (mIU/L):: *</label> 
                                <input type="number" name="tsh"  step="0.01" placeholder="Thyroid Stimulating Hormone" /> 
                                <label class="fieldlabels">PLATELET COUNT (cells/mcL): *</label> 
                                <input type="number" name="platelet"  step="0.01" placeholder="Platelet" />
                                <label class="fieldlabels">CREATININE (mg/dL):: *</label> 
                                <input type="number" name="creatinine" step="0.01" placeholder="Creatinine" />
                                <label class="fieldlabels">>PlGF:sFlt RATIO: *</label> 
                                <input type="number" name="plgf:sflt" step="0.01" placeholder="Enter Placental Growth Factor Ratio" />
                                <label class="fieldlabels">Soluble Endoglin (SEng):  *</label> 
                                <input type="number" name="SEeng" step="0.01" placeholder="Enter Soluble Endoglin Level" />
                                <label class="fieldlabels">Cystatin C (mg/L): *</label> 
                                <input type="number" name="cysC" step="0.01" placeholder="Enter Cystatin C Level" required /> 
                                <label class="fieldlabels">PP13 (Placental Protein 13): *</label> 
                                <input type="number" name="pp_13" step="0.01" placeholder="Enter PP13 Level" required /> 
                                <label class="fieldlabels">GLYCERIDES (mg/dL): *</label> 
                                <input type="number" name="glycerides" step="0.01" placeholder="Enter Glycerides Level" required /> 
                            </div> 
                        <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Patient Data:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 3</h2>
                                </div>
                            </div> 
                                <label class="fieldlabels">HYPERTENSION: *</label>
                                <input type="number" step="0.01" name="Hypertension" placeholder="1 for Yes, 0 for No" /> 
                                <label class="fieldlabels">DIABETES: *</label> 
                                <input type="number" step="0.01" name="diabetes" placeholder="1 for Yes, 0 for No" /> 
                                <label class="fieldlabels">FAM_HTN: *</label> 
                                <input type="number" step="0.01" name="fam_htn" placeholder="Family History of Hypertension" /> 
                                <label class="fieldlabels">SP_ART: *</label> 
                                <input type="number" step="0.01" name="sp_art" placeholder="Systolic Arterial Pressure" />
                                <label class="fieldlabels">OCCUPATION: *</label> 
                                <input type="number" step="0.01" name="occupation" placeholder="Occupation" />
                                <label class="fieldlabels">DIET: *</label> 
                                <input type="number" step="0.01" name="diet" placeholder="Diet Information" />
                                <label class="fieldlabels">ACTIVITY: *</label> 
                                <input type="number" step="0.01" name="activity" placeholder="Physical activity level" />
                                <label class="fieldlabels">SLEEP: *</label> 
                                <input type="number" step="0.01"name="sleep" placeholder="Sleep Patterns" />
                        </div> 
                            <input type="submit" name="next" class="next action-button" value="Submit" /> 
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}