{% extends "layout.html" %}
{% block content%}
<style>
    @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
	box-sizing: border-box;
}

body {
	--h: 212deg;
	--l: 43%;
	--brandColor: hsl(var(--h), 71%, var(--l));
	font-family: Montserrat, sans-serif;
	margin: 0;
	background-color: whitesmoke;
}

p {
	margin: 0;
	line-height: 1.6;
}

ol {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

li {
	--stop: calc(100% / var(--length) * var(--i));
	--l: 62%;
	--l2: 88%;
	--h: calc((var(--i) - 1) * (180 / var(--length)));
	--c1: hsl(var(--h), 71%, var(--l));
	--c2: hsl(var(--h), 71%, var(--l2));
	
	position: relative;
	counter-increment: list;
	max-width: 45rem;
	margin: 2rem auto;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: white;
}

li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
}

h3 {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
	color: rgb(70 70 70);
}

h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--c1);
	color: white;
}

@media (min-width: 40em) {
	li {
		margin: 3rem auto;
		padding: 3rem 2rem 2rem;
	}
	
	h3 {
		font-size: 2.25rem;
		margin: 0 0 2rem;
	}
	
	h3::before {
		margin-right: 1.5rem;
	}
}
.banner{
    background: #673AB7;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 12px;
   
}
.banner h1{
    color: white;
}
</style>
    <div class="testbox">
        <form action="/predict" method="POST" target="_blank">
        <div class="banner">
            <h1>Prediction Result</h1>

        </div>
        <h2 style="text-align: center;">Given the information on the form themother's outcome in a course is the following</h2>

        <div class="prediction_result">
            <div class="thumbnail">
                {% if prediction[0] == 0 %}
                <h3>Not at Risk of Getting Preeclampsia</h3>
                <img src="static\images\smile.jfif" class="emoji">
                <div class="recommendations">
                    <h2 style="text-align: center;" class="recom"> You are doing Great.</h2>
                    <h2 style="text-align: center;" class="recom">Keep up with the best practices!</h2>
                </div>
                {% endif %}
            </div>
            <div class="thumbnail">
                {% if prediction[0] == 1 %}
                <section class="banner">
                    <h1>The Patient is at a High Risk of Developing Preeclampsia</h1>
                  </section>
    
                <div class="recommendations">
                    <h2 class="recom fz-14">Recommendations:</h2>

                    <ol style="--length: 5" role="list">
                        <li style="--i: 1">
                            <h3>Take a baby aspirin daily:</h3>
                            <p>Studies suggest that taking low-dose aspirin can reduce the risk of developing preeclampsia by about 15% for women at risk .</p>
                        </li>
                        <li style="--i: 2">
                            <h3>Get enough sleep: </h3>
                            <p>Poor sleep has been linked to an increased risk of hypertension, a key factor in preeclampsia.</p>
                        </li>
                        <li style="--i: 3">
                            <h3>Manage blood pressure and blood sugar</h3>
                            <p>Keeping both blood pressure and blood sugar levels within healthy ranges can significantly lower preeclampsia risk .</p>
                        </li>
                        <li style="--i: 4">
                            <h3>Maintain a regular exercise routine:</h3>
                            <p>Regular physical activity can improve cardiovascular health and reduce the likelihood of preeclampsia .</p>
                        </li>
                        <li style="--i: 5">
                            <h3>Lose weight if obese</h3>
                            <p> Weight loss before pregnancy in obese women can lower the risk of hypertension and preeclampsia .</p>
                        </li>
                    </ol>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
    </div>
    
{% endblock content %}